.usersModal {
  position: fixed;
  width: 35%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
  color:  var(--text-color);
  z-index: 11;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  text-align: left;
  border-radius: 10px;
  padding: 1.5rem 0rem;
}
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(25, 25, 25, 0.7);
  z-index: 10;
}
.singleUserCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.2rem;
}
.singleUserCard:hover {
  background-color: rgb(34, 34, 34);
  cursor: pointer;
}
.singleUserCard button {
  border: none;
  height: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
}
.singleUserCard .userCardPrimaryInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.modalContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.modalContent h2 {
  padding: 0rem 1rem;
}
.singleUserCard .userCardPrimaryInfo .fullNameAndUsername .fullName {
  font-weight: 700;
  width: 8vw;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.singleUserCard .userCardPrimaryInfo .fullNameAndUsername .userName {
  color: grey;
  width: 8vw;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.appropriateUsersContainer {
  display: flex;
  flex-direction: column;
}
.modalContent .noUsers {
  color: grey;
  font-size: 1.2rem;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .usersModal {
    top: 20%;
    width: 80%;
  }
  .singleUserCard .userCardPrimaryInfo .fullNameAndUsername .fullName,
  .singleUserCard .userCardPrimaryInfo .fullNameAndUsername .userName {
    width: 18vw;
  }
}
